{% load cms_tags staticfiles %}

<footer>
	<div class="row">
		<div class="col-md-6">
			<!-- social media icons from icomoon.io (GPL) -->
			<div class="social">
				<a href="https://twitter.com/pyCologne"><img src="{% static "website/icons/twitter.png" %}" alt="Twitter"></a>
				<a href="http://www.facebook.com/groups/pycologne"><img src="{% static "website/icons/facebook.png" %}" alt="Facebook Gruppe"></a>
				<a href="http://www.facebook.com/pyCologne"><img src="{% static "website/icons/facebook.png" %}" alt="Facebook Seite"></a>
				<a href="https://plus.google.com/b/114994727117032649068/"><img src="{% static "website/icons/google-plus.png" %}" alt="Google+"></a>
				<a href="https://www.google.com/calendar/ical/fm26mlvtjlqsjqpj53jq1pd128@group.calendar.google.com/public/basic.ics"><img src="{% static "website/icons/calendar.png" %}" alt="Termine (ICS)"></a>
				<a href="https://www.xing.com/net/pri19efecx/pycologne"><img src="{% static "website/icons/xing.png" %}" alt="Xing"></a>
				<a href="http://lanyrd.com/profile/pycologne"><img src="{% static "website/icons/lanyrd.png" %}" alt="Lanyrd"></a>
				<a href="http://www.flickr.com/photos/tags/pycologne"><img src="{% static "website/icons/flickr.png" %}" alt="Flickr"></a>
				<a href="https://github.com/pycologne"><img src="{% static "website/icons/github.png" %}" alt="Github"></a>
			</div>
			{% static_placeholder "footer-left" %}
		</div>
		<div class="col-md-6">
			{% static_placeholder "footer-right" %}
		</div>
	</div>
</footer>
