/* Main stylesheet */

/* Import other css/less files */
@import 'bootstrap/bootstrap.less';
@import 'theme/variables.less';
@import 'theme/bootswatch.less';

/* Custom colors / vars for bootstrap */
@brand-primary: #3d6d98;
@brand-info: @brand-primary;


header {
	margin-bottom: 20px;
	padding: 10px 0;
	border-bottom: 1px solid @gray-lighter;

	#mainlogo {
		height: 70px;
	}

	.nav-pills {
		margin-top: 15px;
	}
}